.root {
  position: absolute;
  left: 0;
  top: 0;
  width: 79px;
  height: 40px;
  align-items: flex-start;
}
.shape {
  position: absolute;
  left: 0;
  top: 0.1033px;
  width: 78.4px;
  height: 39.7361px;
  overflow: visible;
}
.icon {
  width: 100%;
  height: 100%;
}
