.avatarOtherMainAvatar.avatarOtherMainAvatar {
  border-radius: 16px;
}
.img.img {
  background-image:/* webpackIgnore: true */ url('/assets/img2.png');
  -webkit-mask-image:/* webpackIgnore: true */ url('/assets/avatarOtherMainAvatar2.svg');
  mask-image:/* webpackIgnore: true */ url('/assets/avatarOtherMainAvatar2.svg');
}
.root {
  position: absolute;
  left: 0;
  top: 0;
  width: 48px;
  height: 48px;
  align-items: flex-start;
}
.box {
  position: absolute;
  left: -1px;
  right: -1px;
  top: -1px;
  bottom: -1px;
  outline: solid 2px #edeef2;
  border-radius: 16px;
}
