.root {
  position: absolute;
  left: 0;
  top: 0;
  width: 200px;
  height: 80px;
  align-items: flex-start;
}
.box {
  position: absolute;
  left: 0px;
  right: 0px;
  top: 0;
  bottom: 0;
  background-color: #fff;
}
.divider {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  max-width: 100%;
  height: 1px;
  max-height: 100%;
  overflow: visible;
}
.icon {
  width: 100%;
  height: 100%;
}
